body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Menu Style */
body {
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #222;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a.active {
    color: #00ffcc;
}

/* End Menu style */

/* Modal style */
/* Overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

/* Modal box */
.modal-box {
    background: #fff;
    width: 60%;
    max-width: 80%;
    padding: 20px;
    border-radius: 8px;

    position: relative;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

/* End of modal style */